@model PawfectGrooming.Models.NewPasswordVM
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<PawfectGrooming.Resources.Resources> Localizer
@using System.Globalization
@{
    ViewBag.Title = "Reset New Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form" method="post">
    <h6 class="section-title">@Localizer["Set New Password"]</h6>
    <p class="form-description">
        @Localizer["New Password_Description"]
    </p>

    <input type="hidden" asp-for="Email">
    <input type="hidden" asp-for="Token">

    <div class="form-group">
        <label>@Localizer["NewPassword"]</label>
        <input asp-for="NewPassword" autofocus>
        <span asp-validation-for="NewPassword"></span>
    </div>

    <div class="form-group">
        <label>@Localizer["Confirm Password"]</label>
        <input asp-for="ConfirmPassword">
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <div class="form-actions">
        <button class="btn-login-long" type="submit">@Localizer["Update Password"]</button>
    </div>

    <div class="form-links">
        <a href="/Account/Login">@Localizer["Return to Login"]</a>
    </div>
</form>