@model PawfectGrooming.Models.ResetPasswordVM
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<PawfectGrooming.Resources.Resources> Localizer
@using System.Globalization

@{
    ViewBag.Title = "Account | Reset Password";
}

<form class="form" method="post">
    <h1 class="section-title">@Localizer["Reset Password"]</h1>
    <p class="form-description">
        @Localizer["Reset Password_Description"]
    </p>
    <div class="form-group">
    <label asp-for="Email">@Localizer["Email"]</label>
    <input asp-for="Email" autofocus>
    <span asp-validation-for="Email"></span>
    </div>

    <div class="form-actions">
        <button class="btn-primary">@Localizer["Submit"]</button>
        <button class="btn-secondary" type="reset">@Localizer["Reset"]</button>
    </div>
</form>
